@charset "utf-8";

body {
	width: 100%;
	height: 100%;
	padding: 3rem 0;
}

#cuerpo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#fotoAdivina{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#imgTitle {
	display: block;
	width: 25%;
	height: 25%;
	margin-top: 2em;
	margin-bottom: 2em;
}

#jugador {
	display: none;
}

#noAcertado {
	display: none;
	width: 35%;
	height: 35%;
}

#ganar {
	display: none;
	width: 35%;
	height: 35%;
}

#noMayor {
	display: none;
	width: 35%;
	height: 35%;
}